<script>
    console.log(document.cookie);
</script>
<nav>
    <div class="logo">
        CCC Booking
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/booking">Booking</a></li>
        <li><a href="/request">Requests</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/Logout">Logout</a></li>
    </ul>
</nav>