<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="css/Pagenotfound.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <center>
    <div class="container">
		<div class="img">
			<img src="images/Pagenotfound.svg"> 
		</div>
        <br>
        <div class="message">
            <h3>Oops! Page not found.</h3>
        </div>
        <br>
        <a href="/" id="btn"><div class="btn">
            <input type="submit" class="btn" value="GO BACK">
        </div></a>
    </div>
    </center>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>