<!DOCTYPE html>
<html>

<head>
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="css/log-reg-cont.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <!-- Navigation -->
        <%- include('../partials/nav') %>
        <!-- navigation -->
        <div class="container">
                <div class="img">
                        <img src="images/contact.svg">
                </div>
                <div class="login-content">
                        <form action="index.html">
                                <h2 class="title">Contact Us</h2>
                                <!--  -->
                                <div class="input-div one">
                                        <div class="i">
                                                <i class="fas fa-user"></i>
                                        </div>
                                        <div class="div">
                                                <!-- <h5>Name</h5> -->
                                                <input type="text" class="input" placeholder="Name">
                                        </div>
                                </div>
                                <div class="input-div one">
                                        <div class="i">
                                                <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="div">
                                                <!-- <h5>Mobile</h5> -->
                                                <input type="text" class="input" placeholder="Mobile">
                                        </div>
                                </div>
                                <div class="input-div one">
                                        <div class="i">
                                                <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="div">
                                                <!-- <h5>Email</h5> -->
                                                <input type="text" class="input" placeholder="Email">
                                        </div>
                                </div>
                                <!-- message -->
                                <div class="input-div one">
                                        <div class="i">
                                                <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="div">
                                                <!-- <h5>Message</h5> -->
                                                <input type="text" class="input" placeholder="Message">
                                        </div>
                                </div>
                                <!--  -->
                                <input type="submit" class="btn" value="Submit">
                        </form>
                </div>
        </div>
        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>