<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('../partials/nav') %>
    <!-- Body -->
    <!-- 1 -->
    <div class="mid-content">
        <div class="mid-text">
            <h1>Auditorium Booking</h1>
            <p>Central Computing Center is conference hall with latest audio and video system including Multipoint video conferencing.</p>
            <div class="button">
                <a href="/booking">Make Booking</a>
            </div>
        </div> 
        <div class="mid-img">
            <img src="images/main-1.svg" alt="">
        </div>
    </div>
    <!-- 3 -->
    <div class="content-3">
        <div class="contenr-3-heading">
            Features of CCC
        </div>
        <div class="content-3-boxes">
            <div class="box">
                <div>Mikes</div>
                <div>1</div>
            </div>
            <div class="box">
                <div>Speakers</div>
                <div>2</div>
            </div>
            <div class="box">
                <div>Projectors</div>
                <div>3</div>
            </div>
            <div class="box">
                <div>Volunteers</div>
                <div>4</div>
            </div>
            <!--<div class="box">
                <div>Feature</div>
                <div>5</div>
            </div> -->
        </div>
    </div>
    <!-- 2 -->
    <div class="mid-content" id="container-2">
        <div class="mid-img" id="ct-2-img">
            <img src="images/ycce.jpg" alt="">
        </div>
        <div class="mid-text" id="ct-2-text">
            <h1>About YCCE</h1>
            <p>Yeshwantrao Chavan College of Engineering (YCCE), Nagpur, Established in 1984, is renowned for
                Engineering Education and Research. It has successfully nurtured young engineering professionals,
                becoming a sought-after destination for students aspiring to higher technical education and placement in
                the competitive software and core industries. A first private engineering college to acquire
                'Autonomous' status in Central India approved by AICTE & is affiliated to Rashtrasant Tukadoji Maharaj
                Nagpur University. The college is guided by the Academic Advisory Board consisting of eminent
                academicians from the prestigious technical institutes in India and USA. Accredited by National Board of
                Accreditation (NBA), New Delhi. NAAC has accredited the college with an "A++" grade.</p>
        </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>

</html>